@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "sideLogoutForm", @class = "navbar-right" }))
{
    @Html.AntiForgeryToken()
    <div class="nav-link" style="text-align:center; color: #ff3926">
        @*<i class="nav-icon fas fa-crosshairs"></i>*@
        <i class="fas fa-sign-out-alt mt-3"></i>
        @*<i class="fas fa-angle-left right"></i>*@
    </div>
}